.contact-card {
    --primary-color: #2c3e50;
    --secondary-color: #bdc3c7;
    background-color: #ffffff2d;
    border-radius: 10px;
    transition: .2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact-card a {
    display: flex;
    gap: 20px;
    padding: 12px 25px;
}

.contact-card a,
.contact-card a i {
    text-decoration: none;
    font-size: 3rem;
    color: var(--secondary-color);
}

.contact-card:hover {
    background-color: #ffffff4d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (min-width:800px)and (max-width:1278px) {

    .contact-card a,
    .contact-card a i {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:500px)and (max-width:799px) {

    .contact-card a,
    .contact-card a i {
        font-size: 1.6rem;
    }

    .contact-card {
        width: 60%;
    }
}

@media screen and (min-width:300px)and (max-width:500px) {
    .contact-card {
        width: 80%;
    }

    .contact-card a,
    .contact-card a i {
        font-size: 1.6rem;
    }
}